body{
  background-color: #E5E5E5;
  margin: 0px;
  display: flex;
  align-items: center ;
  justify-content: center;
}

.app{
  margin-top: -10px;
  display: flex;
  align-items: center ;
  justify-content: center;
  /* background-color: aqua; */
  height: 800px;
  width: 600px;
}