/* Header */

position: absolute;
width: 550px;
height: 65px;
left: 0px;
top: 0px;



/* Header background */

position: absolute;
width: 550px;
height: 65px;
left: 0px;
top: 0px;

background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);


/* React Course - Project 3 */

position: absolute;
width: 189px;
height: 14px;
left: 324px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: right;

color: #FFFFFF;



/* Logo */

position: absolute;
width: 178.79px;
height: 26.22px;
left: 20px;
top: 19px;



/* Troll Face */

position: absolute;
width: 31.31px;
height: 26.22px;
left: 20px;
top: 19px;



/* Vector */

position: absolute;
left: 3.64%;
right: 90.67%;
top: 3.45%;
bottom: 91.78%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 3.73%;
right: 90.76%;
top: 3.64%;
bottom: 91.96%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.72%;
right: 92.03%;
top: 3.82%;
bottom: 95.63%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 6.44%;
right: 92.3%;
top: 4%;
bottom: 95.54%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4.72%;
right: 94.29%;
top: 4.1%;
bottom: 95.54%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 6.35%;
right: 93.47%;
top: 4.1%;
bottom: 95.54%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 5.53%;
right: 94.38%;
top: 4.28%;
bottom: 95.35%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 6.26%;
right: 92.3%;
top: 4.37%;
bottom: 94.99%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 6.44%;
right: 93.11%;
top: 4.55%;
bottom: 95.17%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.72%;
right: 94.1%;
top: 4.55%;
bottom: 94.07%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 7.43%;
right: 92.48%;
top: 4.65%;
bottom: 95.26%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.9%;
right: 94.83%;
top: 4.65%;
bottom: 95.26%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 7.79%;
right: 91.94%;
top: 4.65%;
bottom: 95.17%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 3.82%;
right: 95.37%;
top: 4.74%;
bottom: 94.25%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 8.33%;
right: 90.94%;
top: 4.74%;
bottom: 94.62%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 7.79%;
right: 92.12%;
top: 4.83%;
bottom: 95.08%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 7.07%;
right: 91.12%;
top: 4.83%;
bottom: 94.25%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4%;
right: 95.73%;
top: 4.92%;
bottom: 94.62%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4.09%;
right: 94.92%;
top: 5.01%;
bottom: 94.71%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4.27%;
right: 91.39%;
top: 5.1%;
bottom: 92.88%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 6.35%;
right: 93.29%;
top: 5.29%;
bottom: 94.25%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 6.71%;
right: 92.75%;
top: 5.29%;
bottom: 94.53%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4%;
right: 95.82%;
top: 5.38%;
bottom: 94.53%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 7.7%;
right: 91.76%;
top: 5.38%;
bottom: 94.16%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 8.61%;
right: 90.94%;
top: 5.38%;
bottom: 94.16%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 5.99%;
right: 93.56%;
top: 5.47%;
bottom: 94.35%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4.45%;
right: 95.55%;
top: 5.65%;
bottom: 94.25%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 6.8%;
right: 92.39%;
top: 5.65%;
bottom: 93.89%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.45%;
right: 95.37%;
top: 5.75%;
bottom: 93.8%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 7.7%;
right: 91.94%;
top: 5.93%;
bottom: 93.7%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.72%;
right: 95.01%;
top: 5.93%;
bottom: 93.7%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 6.17%;
right: 93.2%;
top: 5.93%;
bottom: 93.7%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.99%;
right: 94.47%;
top: 6.02%;
bottom: 93.7%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 5.62%;
right: 94.01%;
top: 6.02%;
bottom: 93.7%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 6.98%;
right: 92.39%;
top: 6.11%;
bottom: 93.25%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 6.26%;
right: 93.02%;
top: 6.39%;
bottom: 93.06%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.45%;
right: 95.46%;
top: 6.48%;
bottom: 93.25%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.63%;
right: 95.1%;
top: 6.57%;
bottom: 93.06%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 5.62%;
right: 93.83%;
top: 6.57%;
bottom: 92.97%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.9%;
right: 94.83%;
top: 6.66%;
bottom: 93.06%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 5.26%;
right: 94.38%;
top: 6.66%;
bottom: 92.97%;

background: #FCFCFC;


/* Vector */

position: absolute;
left: 4.54%;
right: 92.21%;
top: 6.85%;
bottom: 92.51%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 4.27%;
right: 91.94%;
top: 6.85%;
bottom: 92.33%;

background: #0D0D0D;


/* Vector */

position: absolute;
left: 5.26%;
right: 93.83%;
top: 7.21%;
bottom: 92.7%;

background: #0D0D0D;


/* Meme Generator */

position: absolute;
width: 140.79px;
height: 24px;
left: 58px;
top: 21px;

font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20.7482px;
line-height: 24px;
letter-spacing: -0.1em;

color: #FFFFFF;

