.footer{
  height: 40px;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > a > img {
  border-radius: 0px;
  width: 28px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 4px;
}